---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/transaction/5vPZJUQFHdwUdHkmBCGaCU65MXzFmDMv218QGNs44RYL3b4wBijtE3fqQZAKuwYz7mCyeLWAcQ5mz99sGTR2a6Ec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e0-WWi/OPlxihtSO6pyEIELYH6boc8"
    body:
      encoding: ASCII-8BIT
      string: '{"blockTime":1643293653,"slot":118086078,"txHash":"5vPZJUQFHdwUdHkmBCGaCU65MXzFmDMv218QGNs44RYL3b4wBijtE3fqQZAKuwYz7mCyeLWAcQ5mz99sGTR2a6Ec","fee":5000,"status":"Fail","lamport":0,"signer":["HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f"],"logMessage":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 662 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"inputAccount":[{"account":"HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f","signer":true,"writable":true,"preBalance":36911320000,"postBalance":36911315000},{"account":"8RMnV1eD55iqUFJLMguPkYBkq8DCtx81XcmAja93LvRR","signer":false,"writable":true,"preBalance":24042400,"postBalance":24042400},{"account":"SysvarC1ock11111111111111111111111111111111","signer":false,"writable":false,"preBalance":1169280,"postBalance":1169280},{"account":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH","signer":false,"writable":false,"preBalance":1141440,"postBalance":1141440}],"recentBlockhash":"CePYYTKNiXVtzL7MdMjbQdEwLqug117juy8fWsdpZVdV","innerInstructions":[],"tokenBalanes":[],"parsedInstruction":[{"programId":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH","type":"Unknown","data":"02000000070000000100000000000000c7ca208b020000002326680000000000b5d9090700000000","dataEncode":"6mJFQAEssWECZ33ewGbTZNfaAJVtEk3z7wB81iGaiQR12DCQ3mQLis","name":"Instruction
        0","params":{"Account0":"HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f","Account1":"8RMnV1eD55iqUFJLMguPkYBkq8DCtx81XcmAja93LvRR","Account2":"SysvarC1ock11111111111111111111111111111111"}}],"confirmations":null,"tokenTransfers":[],"solTransfers":[],"serumTransactions":[],"raydiumTransactions":[],"unknownTransfers":[]}'
  recorded_at: Thu, 27 Jan 2022 17:46:16 GMT
recorded_with: VCR 6.0.0
