---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/chaininfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64-FQG/fvbUh3ES4T0Ed2+naKQEzxo"
    body:
      encoding: ASCII-8BIT
      string: '{"blockHeight":106721138,"currentEpoch":273,"absoluteSlot":118233364,"transactionCount":53906089899}'
  recorded_at: Fri, 28 Jan 2022 14:47:09 GMT
recorded_with: VCR 6.0.0
