---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/block/transactions?block=118086078
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52d4-9hIoTY9wkYKZtoc917m0rptPxqE"
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"err":{"InstructionError":[0,"InvalidArgument"]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 662 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"postBalances":[36911315000,24042400,1169280,1141440],"postTokenBalances":[],"preBalances":[36911320000,24042400,1169280,1141440],"preTokenBalances":[],"rewards":[],"status":{"Err":{"InstructionError":[0,"InvalidArgument"]}}},"transaction":{"message":{"accountKeys":[{"pubkey":"HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f","signer":true,"writable":true},{"pubkey":"8RMnV1eD55iqUFJLMguPkYBkq8DCtx81XcmAja93LvRR","signer":false,"writable":true},{"pubkey":"SysvarC1ock11111111111111111111111111111111","signer":false,"writable":false},{"pubkey":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH","signer":false,"writable":false}],"instructions":[{"accounts":["HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f","8RMnV1eD55iqUFJLMguPkYBkq8DCtx81XcmAja93LvRR","SysvarC1ock11111111111111111111111111111111"],"data":"6mJFQAEssWECZ33ewGbTZNfaAJVtEk3z7wB81iGaiQR12DCQ3mQLis","programId":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH"}],"recentBlockhash":"CePYYTKNiXVtzL7MdMjbQdEwLqug117juy8fWsdpZVdV"},"signatures":["5vPZJUQFHdwUdHkmBCGaCU65MXzFmDMv218QGNs44RYL3b4wBijtE3fqQZAKuwYz7mCyeLWAcQ5mz99sGTR2a6Ec"]}},{"meta":{"err":{"InstructionError":[0,"InvalidArgument"]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 566 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"postBalances":[27784795000[...]
