---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/block/transactions?block=118086078&limit=5&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3693-IlO01FDoDa5giFA6qYsiPoBEt/M"
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"err":{"InstructionError":[0,"InvalidArgument"]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 590 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"postBalances":[27980903457,23942400,1169280,1141440],"postTokenBalances":[],"preBalances":[27980908457,23942400,1169280,1141440],"preTokenBalances":[],"rewards":[],"status":{"Err":{"InstructionError":[0,"InvalidArgument"]}}},"transaction":{"message":{"accountKeys":[{"pubkey":"FZsgu4Gv9fn1iUm5v7iW3p9joX9HJcmxgXdRCqCGxpfE","signer":true,"writable":true},{"pubkey":"5bmWuR1dgP4avtGYMNKLuxumZTVKGgoN2BCMXWDNL9nY","signer":false,"writable":true},{"pubkey":"SysvarC1ock11111111111111111111111111111111","signer":false,"writable":false},{"pubkey":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH","signer":false,"writable":false}],"instructions":[{"accounts":["FZsgu4Gv9fn1iUm5v7iW3p9joX9HJcmxgXdRCqCGxpfE","5bmWuR1dgP4avtGYMNKLuxumZTVKGgoN2BCMXWDNL9nY","SysvarC1ock11111111111111111111111111111111"],"data":"6mJFQAEssWECZ33ewGbTZT5EF1n3eRW24PxgGQcbRQc5UV5TEp4N15","programId":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH"}],"recentBlockhash":"CePYYTKNiXVtzL7MdMjbQdEwLqug117juy8fWsdpZVdV"},"signatures":["3t9e4xy5veVJKGN63yCjd35TbF92v8Qi881wZ6BadAyNu2yhanAH3JySQENVQa9ymcftdGkPEdBExYvinnL6yumD"]}},{"meta":{"err":{"InstructionError":[0,"InvalidArgument"]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 614 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"postBalances":[35736810250[...]
