---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/block/last
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1877-L8Nuo+ytSuSCJVF4jn6ldLmYsW8"
    body:
      encoding: ASCII-8BIT
      string: '[{"currentSlot":118086078,"result":{"blockHeight":106581301,"blockTime":1643293653,"blockhash":"8sGKwzC3PMdA2TK29ypDZ54d4WxcBcqTi6wCfJzGTch7","parentSlot":118086077,"previousBlockhash":"CsxzQtnNC3RQ3JsFJJr4fKy1NUX6KYzxTBXTufKtbAEn","feeRewards":4115000,"validator":"7LFftvhgcoe3btKAsAB4pdMV4jgv18JWRrfQWB2zXMbh","transactionCount":1628}},{"currentSlot":118086077,"result":{"blockHeight":106581300,"blockTime":1643293652,"blockhash":"CsxzQtnNC3RQ3JsFJJr4fKy1NUX6KYzxTBXTufKtbAEn","parentSlot":118086076,"previousBlockhash":"4XaWQ6he8KLMV6t776DMnKvBo17JrRr3mcqLWqxgEFZM","feeRewards":8797500,"validator":"7LFftvhgcoe3btKAsAB4pdMV4jgv18JWRrfQWB2zXMbh","transactionCount":3498}},{"currentSlot":118086076,"result":{"blockHeight":106581299,"blockTime":1643293652,"blockhash":"4XaWQ6he8KLMV6t776DMnKvBo17JrRr3mcqLWqxgEFZM","parentSlot":11[...]
