---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/block/118086078
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"150-t4wKmtI0nVrqPPva6s8w69pAJMg"
    body:
      encoding: ASCII-8BIT
      string: '{"currentSlot":118086078,"result":{"blockHeight":106581301,"blockTime":1643293653,"blockhash":"8sGKwzC3PMdA2TK29ypDZ54d4WxcBcqTi6wCfJzGTch7","parentSlot":118086077,"previousBlockhash":"CsxzQtnNC3RQ3JsFJJr4fKy1NUX6KYzxTBXTufKtbAEn","feeRewards":4115000,"validator":"7LFftvhgcoe3btKAsAB4pdMV4jgv18JWRrfQWB2zXMbh","transactionCount":1628}}'
  recorded_at: Thu, 27 Jan 2022 16:25:16 GMT
recorded_with: VCR 6.0.0
