---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/block/last
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a4d-+YP2E5rKxWY4nFndpazm09spkuw"
    body:
      encoding: ASCII-8BIT
      string: '[{"currentSlot":117941343,"result":{"blockHeight":106443909,"blockTime":1643210504,"blockhash":"8c6bFbLLysBc6n42Uv5Kyt7bVJwVAjWsJi5ceJAAH1gq","parentSlot":117941342,"previousBlockhash":"7sTtkhfoQaYDEwnqcZkh7P8GMp6e5522cNSRqBpGeFEh","feeRewards":2540000,"validator":"38mTPbpSCC3iPrdM5KKy2kXAjdSdw6GyNndMKvgHDoNv","transactionCount":1006}},{"currentSlot":117941342,"result":{"blockHeight":106443908,"blockTime":1643210502,"blockhash":"7sTtkhfoQaYDEwnqcZkh7P8GMp6e5522cNSRqBpGeFEh","parentSlot":117941341,"previousBlockhash":"HPHXkNSWMpYFPByELsHSjbvuZkFSuT1hDMRQHmYXxgVQ","feeRewards":4715000,"validator":"38mTPbpSCC3iPrdM5KKy2kXAjdSdw6GyNndMKvgHDoNv","transactionCount":1869}},{"currentSlot":117941341,"result":{"blockHeight":106443907,"blockTime":1643210502,"blockhash":"HPHXkNSWMpYFPByELsHSjbvuZkFSuT1hDMRQHmYXxgVQ","parentSlot":11[...]
