---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/token/holders?limit=3&offset=1&tokenAddress=DubwWZNWiNGMMeeQHPnMATNj77YZPZSAz2WVR5WjLJqz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"201-CU3Oou+8qGPO8pAunl6ZUfEUyus"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"address":"5AKcga2wVjxcVRVex3Ai2zLLHcLeTY74pVBHBvJGkQWD","amount":100000000000001820,"decimals":9,"owner":"BrzXn1ryJhGjdTD9Mc7X9rtWeJgLQEBRNivqBNmQ1t8R","rank":2},{"address":"8V4UCtjRmsF2SjzpKykYYBx3qe4GmmLthcLkxGiKdJGX","amount":35874437572699732,"decimals":9,"owner":"9PTS8eMzQyMH1rogp9KFuNhqtbDghTppELNaza8v2gmL","rank":3},{"address":"G7TrrrncoXBNi9bKgZWnk5zPBTFMgvRk3VbghG2d2DNE","amount":12191953942811668,"decimals":9,"owner":"u6PJ8DtQuPFnfmwHbGFULQ4u4EgjDiyYKjVEsynXq2w","rank":4}],"total":13845}'
  recorded_at: Fri, 28 Jan 2022 15:36:23 GMT
recorded_with: VCR 6.0.0
