---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/account/stakeAccounts?account=BbyX1GwUNsfbcoWwnkZDo8sqGmwNDzs2765RpjyQ1pQb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"785-dMfGKGk2bSZ/r8nPtCGoIZQCfoM"
    body:
      encoding: ASCII-8BIT
      string: '{"2yewFEMyQFKJwt2yt2iA442XugiYM83j81K3pFpWRPMm":{"voter":"H7fXvnLCKtZqJBTipxeseabGfAZUdHJ9XuP6hCKrbvUb","amount":"9053778650814","type":"delegated","stakeAccount":"2yewFEMyQFKJwt2yt2iA442XugiYM83j81K3pFpWRPMm","staker":"BbyX1GwUNsfbcoWwnkZDo8sqGmwNDzs2765RpjyQ1pQb","role":["staker","withdrawer"]},"H7EFReSU6izk4J5Vo7waLaThBctqrZZr5jaMEcsSg3Pw":{"voter":"DfpdmTsSCBPxCDwZwgBMfjjV8mF8xHkGRcXP8dJBVmrq","amount":"9064839924548","type":"delegated","stakeAccount":"H7EFReSU6izk4J5Vo7waLaThBctqrZZr5jaMEcsSg3Pw","staker":"BbyX1GwUNsfbcoWwnkZDo8sqGmwNDzs2765RpjyQ1pQb","role":["staker"]},"CxMrvTEYJh7MupGAUgT2HwiwgFiaBJCTKRgdUi4CbTkQ":{"voter":"H7fXvnLCKtZqJBTipxeseabGfAZUdHJ9XuP6hCKrbvUb","amount":"17000000000000","type":"delegated","stakeAccount":"CxMrvTEYJh7MupGAUgT2HwiwgFi[...]
