---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/token/meta?tokenAddress=DubwWZNWiNGMMeeQHPnMATNj77YZPZSAz2WVR5WjLJqz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"143-I2MW0loCGti0HAjdma1W8W1M0LU"
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"CRP","name":"CropperFinance","icon":"https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/DubwWZNWiNGMMeeQHPnMATNj77YZPZSAz2WVR5WjLJqz/logo.png","website":"https://cropper.finance/","twitter":"https://twitter.com/cropperfinance","decimals":9,"coingeckoId":"cropperfinance","holder":12608}'
  recorded_at: Fri, 28 Jan 2022 14:25:18 GMT
recorded_with: VCR 6.0.0
