---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/transaction/last
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82b6-lMDNGv5FPJqGxIRcrMOV1zEbAKY"
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"err":{"InstructionError":[0,"InvalidArgument"]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 606 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"postBalances":[35918130000,23942400,1169280,1141440],"postTokenBalances":[],"preBalances":[35918135000,23942400,1169280,1141440],"preTokenBalances":[],"rewards":[],"status":{"Err":{"InstructionError":[0,"InvalidArgument"]}}},"transaction":{"message":{"accountKeys":[{"pubkey":"HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f","signer":true,"writable":true},{"pubkey":"EcV1X1gY2yb4KXxjVQtTHTbioum2gvmPnFk4zYAt7zne","signer":false,"writable":true},{"pubkey":"SysvarC1ock11111111111111111111111111111111","signer":false,"writable":false},{"pubkey":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH","signer":false,"writable":false}],"instructions":[{"accounts":["HfeFy4G9r77iyeXdbfNJjYw4z3NPEKDL6YQh3JzJ9s9f","EcV1X1gY2yb4KXxjVQtTHTbioum2gvmPnFk4zYAt7zne","SysvarC1ock11111111111111111111111111111111"],"data":"6mJFQAEssWECZ33ewGbTZRdSeDHmaw5ku4kwC9nBKSHX9eXcn1C12o","programId":"FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH"}],"recentBlockhash":"7yk1kC98hoBWVRuvjT6YLBsbCQyoJ2stKZNroq6riUkt"},"signatures":["5Gsi6G3niYHy71ZC8Y6ieqhNetYp7yzVXVybNqFoxj3c5kCfKt4MLkrvWCkgGNsAiRfcYcp3FyxbJuJZzDxXcU5W"]}},{"meta":{"err":{"InstructionError":[0,"InvalidArgument"]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH invoke [1]","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        consumed 646 of 200000 compute units","Program FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH
        failed: invalid program argument"],"postBalances":[35918125000[...]
