---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/token/list?direction=desc&sortBy=market_cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"403d-+1zMeEFSdFLpMlSjNaoAP0N1hXE"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"mintAddress":"So11111111111111111111111111111111111111112","tokenSymbol":"SOL","tokenName":"Wrapped
        SOL","decimals":9,"twitter":"","icon":"https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/So11111111111111111111111111111111111111112/logo.png","website":"","extensions":{"coingeckoID":"solana","coingeckoId":"solana"},"tokenHolder":true,"marketCapRank":1,"supply":{"amount":314966607860474500,"decimals":9,"uiAmount":314966607.86047447,"uiAmountString":"314966607.860474"},"holder":26203,"priceUst":88.68,"marketCapFD":27931238785.06688,"volume":{"volumeUsd":2081861637,"volume":0},"coingeckoInfo":{"marketCapRank":8,"coingeckoRank":3,"marketData":{"currentPrice":88.68,"ath":259.96,"athChangePercentage":-65.76974,"athDate":"2021-11-06T21:54:35.825Z","atl":0.500801,"atlChangePercentage":17668.47407,"atlDate":"2020-05-11T19:35:23.449Z","marketCap":28060528369,"marketCapRank":8,"fullyDilutedValuation":0,"totalVolume":2081861637,"priceHigh24h":94.24,"priceLow24h":86.15,"priceChange24h":-2.905186119029,"priceChangePercentage24h":-3.1722,"priceChangePercentage7d":-31.02747,"priceChangePercentage14d":-39.63367,"priceChangePercentage30d":-50.26429,"priceChangePercentage60d":-55.76324,"priceChangePercentage200d":176.05398,"priceChangePercentage1y":2297.0091,"marketCapChange24h":-774241984.3528,"marketCapChangePercentage24h":-2.6851,"totalSupply":508180963.57,"maxSupply":null,"circulatingSupply":314966610.882,"lastUpdated":"2022-01-28T12:25:30.972Z"}}},{"mintAddress":"SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt","website":"https://projectserum.com/","tokenSymbol":"SRM","tokenName":"Serum","decimals":6,"icon":"https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt/logo.png","extensions":{"coingeckoID":"serum","coingeckoId":"serum","website":"https://projectserum.com/"},"twitter":"","tokenHolder":true,"marketCapRank":2,"supply":{"amount":"999539878853[...]
