---
http_interactions:
- request:
    method: get
    uri: https://public-api.solscan.io/token/list?direction=desc&limit=5&offset=2&sortBy=volume
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e16-gIoSod8sZl+dN+kzPazCJ3MbEi4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"mintAddress":"E77cpQ4VncGmcAXX16LHFFzNBEBb2U7Ar7LBmZNfCgwL","tokenSymbol":"abUSDT","tokenName":"Wrapped
        USDT (Allbridge from BSC)","decimals":9,"icon":"https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/BQcdHdAQW1hczDbBi9hiegXAR7A98Q9jx3X3iBBBDiq4/logo.png","website":"","twitter":"","extensions":{"coingeckoID":"tether","coingeckoId":"tether"},"tokenHolder":true,"marketCapRank":262,"supply":{"amount":"550368786025428","decimals":9,"uiAmount":550368.786025428,"uiAmountString":"550368.786025428"},"holder":232,"priceUst":1.01,"marketCapFD":555872.4738856823,"volume":{"volumeUsd":48667180725,"volume":0},"coingeckoInfo":{"marketCapRank":3,"coingeckoRank":140,"marketData":{"currentPrice":1.01,"ath":1.32,"athChangePercentage":-24.09845,"athDate":"2018-07-24T00:00:00.000Z","atl":0.572521,"atlChangePercentage":75.40838,"atlDate":"2015-03-02T00:00:00.000Z","marketCap":78535310292,"marketCapRank":3,"fullyDilutedValuation":0,"totalVolume":48667180725,"priceHigh24h":1.02,"priceLow24h":0.992856,"priceChange24h":0.01043453,"priceChangePercentage24h":1.04487,"priceChangePercentage7d":0.89982,"priceChangePercentage14d":0.96001,"priceChangePercentage30d":0.86095,"priceChangePercentage60d":1.00036,"priceChangePercentage200d":0.81054,"priceChangePercentage1y":0.69843,"marketCapChange24h":95094208,"marketCapChangePercentage24h":0.12123,"totalSupply":78168627985.9358,"maxSupply":null,"circulatingSupply":78168627985.9358,"lastUpdated":"2022-01-28T13:36:34.537Z"}},"tag":["stablecoin"]},{"mintAddress":"GfzU1fLASNV3r4NtEyrnwTyTakJkYzoivnaL3Snh45oj","tokenSymbol":"ahUSDT","tokenName":"Wrapped
        USDT (Allbridge from HECO)","decimals":9,"icon":"https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/GfzU1fLASNV3r4NtEyrnwTyTakJkYzoivnaL3Snh45oj/logo.png","website":"","twitter":"","extensions":{"coingeckoID":"tether","coingeckoId":"tether"},"tokenHolder":true,"marketCapRank":260,"supply":{"amount":"606373043619201","decimals":9,"uiAmount":60[...]
